PORT=8000
HOST=localhost

CLIENT_URL=localhost:3000
ADMIN_URL=localhost:8000

TTL_ACCESS_TOKEN=30m
TTL_REFRESH_TOKEN=30d

DATABASE_URL="postgresql://postgres:;password@localhost:5432/;database_name"

SECRET_JWT="secret"